@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
}

article {
 padding: 2em;   
}

img {
	width: 70%;
    display: block;
}

.masthead {
    background-color: green;
}

.logo {
    height: 4rem;
    width: auto;
    margin: 0em 3.5%;
}

.menu-bar-padding {
    padding: 0em 1em;
}

.home-highlight {
    background-color: green;
    padding: 0.5em 1em;
    border-radius: 2px;
    color: #fff;
    
}

.list-group-item-inline {
    display: inline-block;
    padding: 0em 0.5em;
    font-size: 1.3em;
    font-family: "Georgia";
    text-align:left;
}

.time-border {
    border-color: black;
    border: 0;
    color: gray;
    border-radius: 5px
}

.inline {
    display:inline-block;
}

h1 {
    font-size: 3em;
    font-family: "Georgia";
    text-align:center;
    color: green;
}

h2 {
    font-weight:normal;
    font-size: 1.8em;
}

h3 {
    font-weight:lighter;
    font-size: 1.2em;
}

h4 {
    font-size: 1.3em;
    font-weight:bolder;
    color: gray;
}

h5 {
    margin: 0.5em 0em;
    font-weight:normal;
    font-style:italic;
}

h6 {
    font-size: 0.9em;
}

p {
    line-height:1.4
}

strong {
    color: green;
    font-weight:bolder;
    font-style:italic;
}


a {
    color:green;
}

.link {
    text-decoration:underline;
    color: green;
}
